*{
  margin: 0;
  padding: 0;
}
body{
  min-height: 100vh;
  font-family: 'Sora';
}
nav{
  background-color: #F9FAFD;
  box-shadow: 3px 3px 5px #E6ECEE;
  position: sticky;
  top: 0;
  overflow: hidden;
}
nav ul{
  width: 100%;
  padding: 24px 24px;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}
nav ul li{
  height: 50px;
}
nav a{
  height: 100%;
  padding: 24px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #003D50;
  font: 600 24px/1.2 Sora, Helvetica, Arial, serif;
  cursor: pointer;
}
nav a:hover{
  background-color: #FEFEFF;
}
nav li:first-child{
  margin-right: auto;
}
.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: #F9FAFD;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}
.menu-button{
  display: none;
}
@media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
}
@media(max-width: 400px){ 
  .sidebar{
    width: 100%;
  }
}